<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.overlay.realme_RMX2151">
    <overlay
        android:isStatic="true"
        android:priority="1"
        android:requiredSystemPropertyName="ro.vendor.power_profile.device"
        android:requiredSystemPropertyValue="RMX2151"
        android:targetPackage="android" />
</manifest>
