<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2023 The LineageOS Project

     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.providers.settings.overlay.narzo20pro">

    <overlay
      android:targetPackage="com.android.providers.settings"
      android:requiredSystemPropertyName="ro.vendor.device"
      android:requiredSystemPropertyValue="realme Narzo 20 Pro"
      android:isStatic="true"
      android:priority="100"/>
</manifest>
